*.txt
*.class
/target
/reports*.txt
*.class
/target
/reports*.txt
*.class
/target
/reports*.txt
*.class
/target
/reports*.txt
*.class
/target
/reports*.txt
*.class
/target
/reports*.txt
*.class
/target
/reports*.txt
*.class
/target
/reports
